body{
    background-image: url(../img/CalcuBK.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    width: 20%;
    height: 40%;
    background-color: #9e6c90;;
    background-repeat: no-repeat;
    padding: 3%;
    margin-top: 5%;
    margin-left: 35%;
}
input{
    width:50%;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:rgb(21, 20, 20);
}
button{
    width:200px;
	font-weight:bold;
	display:inline-block;
}